body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {   
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    background: #fff;
}

.display {
    background: #222;
    color: #fff;
    font-size: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    padding: 10px;
    transition: all 0.2 ease-in-out;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    background: #eee;
    border: 1px solid #ddd;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
    outline: none;
}

.button:hover{
    background-color: #e7e3e3;
    transition: background-color 0.5s ease;
}

.button:active {
    background: #ddd;
}

.zero {
    grid-column: span 2;
}

.equals {
    background: #09f;
    color: #fff;
}

.equals:hover {
    background-color: rgba(0, 153, 255, 0.619);
}

.equals:active {
    background-color: rgba(0, 102, 255, 0.619);
}

.c:hover {
    background-color: rgb(244, 200, 118);
    color: white;
}